* {
  margin: 0 0;
  padding: 0 0;
}

body {
  background: url("./static/background.png");
  background-color: #BEA586;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  display: flex;

  flex-direction: row;
  align-items: center;

  font-size: 32px;
  color: #EAE6CD;
  font-weight: bold;
  font-family: Inter;
}

.logo:hover {
  color: #000;
}

.logo img {
  height: 50px;
  width: 50px;
}

.header {
  display: flex;
  background-color: #977953;
  height: 60px;

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 990px;
}

.rectangle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 325px;
  background: #EAE6CD;
  border-radius: 12px;
}

.title{
  font-size: 48px;
  color: #00488E;
  font-weight: bold;
  font-family: Inter;
}

.normal{
  font-size: 36px;
  color: #977953;
  font-weight: bolder;
  font-family: Inter;
}

.blue{
  font-size: 36px;
  color: #00488E;
  font-weight: bold;
  font-family: Inter;
}
 
.text {
  width: 230px;
  height: 220px;
  padding: 50px;
  text-align: center
}

.percent {
  font-size: 96px;
  color: #00488E;
  font-weight: bold;
  font-family: Inter;
}

.text2 {
  width: 300px;
  height: 300px;
  padding: 50px 50px 30px 640px;
 

}
.text3{
  font-size: 40px;
  color: #977953;
  font-weight: bolder;
  font-family: Inter;
  width: 250px;
  height: 100px;
}
.text4{
  font-size: 40px;
  color: #977953;
  font-weight: bolder;
  font-family: Inter;
  width: 250px;
  height: 100px;
  text-align:  right;
}



.block-title {
  padding-left: 2rem;
}


.cube1 {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: #EAE6CD;
  border-radius: 12px;
}

.cube1:hover {
  box-shadow: 0 0 10px #977953
}

.cube{
  display: flex;
  flex-direction: row;
  align-items: center;

  background: #EAE6CD;
  border-radius: 12px;
}

.cube:hover {
  box-shadow: 0 0 10px #977953
}
 
.choice{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

 .stock {
  display: flex;
  flex-direction: row;
  align-items: center;  
 }

 .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 315px;
  height: 365px;
  background: #EAE6CD;
  border-radius: 12px;
}

.product {
  width: 55%;
}

.product-title {
  font-size: 16px;
  color: #000;
  font-family: Inter;
  font-weight: bolder;
}

.in-cart {
  display: flex;

  align-items: center;
  border: 3px solid #977953 ; 
  border-radius: 12px;
  background-color: #EAE6CD;
}

.price {
  font-size: 40px;
  color: #000;
  font-family: Inter;
  font-weight: bold;
 
}

.right{
  display: flex;
  width: 100%;
  padding-right: 20px;
  justify-content: right;
}
